<h1>IMAGENES</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Creative</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @creative.images.each do |image| %>
      <tr>
        <td><%= image.file_id %></td>
        <td><%= image.creative_id %></td>
        <td><%= link_to 'Show', order_creative_image_path(image) %></td>
        <td><%= link_to 'Edit', edit_order_creative_image_path(image) %></td>
        <td><%= link_to 'Destroy', order_creative_image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_order_creative_image_path %>
