<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @image.file_id %>
</p>

<p>
  <strong>Creative:</strong>
  <%= @image.creative_id %>
  <%= image_tag @image.asset.url(:medium) %>
</p>

<%= link_to 'Edit', edit_order_creative_image_path(@image) %> |
<%= link_to 'Back', order_creative_images_path %>
